body{
    margin: 0px;
  }
  
  .logo {
    height: 5.5em;
  }
  .logo-scroll{
    height: 3.5em;
  }
  
  nav {
    height: 75px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-around; */
    justify-content: space-around;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* background: transparent; */
    background: purple;
    /* background: -webkit-linear-gradient(-8deg, #0b8793, #360033);
  background: linear-gradient(-8deg, #0b8793, #360033); */
    position: fixed;
    padding-top: 15px;
  }
  
  ul {
    margin-bottom: 0;
  }
  
  .navbar {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .nav-menu li {
    list-style: none;
    padding: 0 1rem;
  }
  
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  a.nav-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 18px;
    /* font-weight: 500; */
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
  }
  
  a.nav-link:hover {
    color: orange;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar,
  .fa-times {
    width: 1.5rem;
    height: 3px;
    display: block;
    color: #fff;
    padding: 0;
    margin: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fff;
  }
  
  .bar:nth-child(1) {
    width: 100%;
  }
  
  .bar:nth-child(2) {
    width: 200%;
  }
  
  .bar:nth-child(3) {
    width: 300%;
  }
  
  .nav-link-phone{
    text-decoration: none;
    background-color:#85a0db; 
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
  }
  .nav-link-icon{
    color: #333;
  }
  
  @media (max-width: 992px) {
    .hamburger {
        display: block;
    }
  
    .active .bar:nth-child(2) {
        opacity: 0;
    }
  
    .active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(-315deg);
        transform: translateY(8px) rotate(-315deg);
        width: 300%;
    }
  
    .active .bar:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
        width: 300%;
    }
  
    .nav-menu {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 75px;
        right: -100%;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        margin: 0 auto;
    }
  
    .nav-menu li {
        padding: 1rem 0;
    }
  
    a.nav-link {
        margin: 1rem 0;
        color: #333;
        z-index: 1;
    }
  
    .active {
        right: 0;
        z-index: 100;
        transition: 0.2s ease;
    }
  }
  
  @media screen and (max-width: 480px) {
    a.nav-link {
        padding: 0.75rem 0;
    }
  }
  
  
  .BgColour {
    /* color: black; */
    height: 80px;
    transition: all 1s;
    background: palevioletred;
    /* border-bottom: 1px solid lightgray; */
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  
  }
  
  
  
  ul {
    list-style: none;
    padding-left: 0px;
    position: fixed;
  }
  
  .aside {
    width: 200px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
    background: blue;
  }
  
  .aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Akira Expanded', sans-serif;
  }
  
  .aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
  }
  
  .aside .logo a span {
    font-family: 'Clicker Script' , cursive;
    font-size: 40px;
  }
  
  .aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
  }
  
  .aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
  }
  
  .aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
  }
  
  .aside .nav-toggler.open span {
    background-color: transparent;
  }
  
  .aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
  }
  
  .aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
  }
  
  .aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
  }
  
  .aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .aside .nav {
    margin-top: 50px;
  }
  
  .aside .nav li {
    margin-bottom: 20px;
    display: block;
  }
  
  .aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
  }
  
  .aside .nav li a.active {
    color: var(--skin-color);
  }
  
  .aside .nav li a i {
    margin-right: 15px;
  }